*.exe


# Python files
*.pyc
*.pyo
*.pyd
__pycache__/
*.egg-info/


# Test files
*.toc
warn-*.txt
xref-*.html

# Credentials and sensitive files
*.json
!package.json
!tsconfig.json

New folder/release/**/tessdata/configs/
New folder/release/**/tessdata/tessconfigs/


*.png
*.jpg
*.jpeg
*.gif
*.svg
*.bmp
*.tiff
*.ico
*.tif

build/**/*
!build/**/*.* 
!build/**/

release/**/*
!release/**/*.* 
!release/**/


*.zip
*.tar.gz
*.*.*
*.traineddata
test.*

!README
!LICENSE
!Makefile
!Dockerfile




